<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Audrey Jo Portfolio</title>

        <!-- makes it easier to get the site to look identical across all browsers -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap"
        rel="stylesheet">

        <!-- My css file -->
        <link rel="stylesheet" href= "{{ url_for('static',filename='style.css') }}">
    </head>
    <body>
        <!-- Introduction -->
        <section class="intro" id="home">
            <h1>
                Welcome to the Shopper Data Generator!
            </h1>

            <p>
                This generator was created using Python Flask and MongoDB to store the data.
                The generator has an API that you can work with. Swagger UI was used to create the API documentation.
                 The code is on GitHub.
            </p>

            <button class="btn"><a href="https://shopper-generator.herokuapp.com/doc" target="_blank">API</a></button>
            <button class="btn"><a href="https://github.com/audrey35/shopper-generator" target="_blank">GitHub</a></button>

            
        </section>
    </body>
</html>